@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f2f2f2;
  height: 700px;
  overflow: scroll;
}



.slide {
  text-align: left;
  height: 100%;
  width: 200px;
  position: fixed;
  background-color: black;
  transition: 0.5s ease;
  transform: translateX(-212px);
  left: 0;
  top: 0;
  z-index: 1;
}

.slide h1 {
  color: whitesmoke;
  font-weight: 800;
  text-align: center;
  padding: 9px 48px;
  padding-right: 30px;
  pointer-events: none;
}

.slide ul li {
  list-style: none;
}

.slide ul li a {
  color: #acd6f4;
  font-weight: 400;
  padding: 9px 0;
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s ease-out;
  align-items: center;
}

.slide ul li:hover a {
  color: black;
  background-color: white;
  border-radius: 20px;
  width: 90%;
}

.slide ul li a i {
  width: 40px;
  text-align: center;
}

ol,
ul {
  padding-left: 1rem;
}

#logout {
  color: wheat;
  list-style: none;
  text-align: center;
  text-transform: capitalize;

  bottom: 2%;
  padding: 32px;
  font-weight: 500;
  transition: 0.2s ease-out;
  position: fixed;
}

#logout:hover a {
  color: #ee5253;
  background-color: white;
  width: 150%;
  border-radius: 30px;
}

.subhhh {
  position: fixed;
  width: 100%;
  background: black;
  height: 54px;
  display:  flex;
  justify-content:  center;
  padding-top: 19px;
  color: white;
  font-size: large;
  font-family: 'Noto Sans', sans-serif;
  top: 0;
}

.foots {
  position: fixed;
  width: 100%;
  background: black;
  height: 54px;
  bottom: 0;
 
}

input {
  display: none;
  visibility: hidden;
  /* -webkit-appearance: none; */
}

.toggle {
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 2px;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.toggle .common {
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: gray;
  border-radius: 50px;
  transition: 0.3s ease;
}

.toggle .top_line {
  top: 32%;
  /* left: 25.4px; */
  transform: translate(-50%, -50%);
}

.toggle .middle_line {
  top: 50%;
  /* left: 25.9px; */
  transform: translate(-50%, -50%);
}

.toggle .bottom_line {
  top: 70%;
  /* left: 25.9px; */
  transform: translate(-50%, -50%);
}

input:checked ~ .toggle .top_line {
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(45deg);
}

input:checked ~ .toggle .bottom_line {
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(-45deg);
}

input:checked ~ .toggle .middle_line {
  opacity: 0;
  transform: rotate(20px);
}

input:checked ~ .slide {
  transform: translateX(0);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 1s;
  width: 90%;
  position: relative;
  left: 5%;
  margin-top: 2%;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  overflow: hidden;
  object-fit: contain;
  align-content: center;
}

.card img {
  align-items: center;
  height: 700px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.tb thead {
  background-color: black;
  color: aliceblue;
  display: grid;
  justify-content: space-between;
  row-gap: 80px;
}

.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 90%;
  height: 250px;
  position: relative;
  left: 5%;
  margin-top: 2%;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  overflow: hidden;
  object-fit: contain;
  align-content: center;
}

.box {
  margin: 5px;
  padding: 5px;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 22px;
  z-index: 0;
}

#myChart {
  width: fit-content;
  height: fit-content;
}

.tableFixHead {
  overflow-y: auto;
  height: 250px;
  z-index: 0;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0.3, 0.3);
}

table {
  border-collapse: collapse;
  width: 100%;
  z-index: 0;
}

th,
td {
  padding: 8px 16px;
  border: 1px solid #ccc;
  color: black;
}

th {
  background: #eee;
  color: white;
}

.down {
  display: flex;
  justify-content: center;
  background-color: black;
  padding-top: 10px;
  margin: 5px;
  color: white;
}

.down :hover {
  background-color: gray;
}

